@import url(../style.css);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"); 
body { 
    direction: rtl; 
} 
 
* { 
    margin: 0; 
    padding: 0; 
} 
 
.menu { 
	position: fixed;
	top: 0;
	right: 0;
    background-color: black; 
    height: 100vh; 
    width: 350px; 
    z-index: 999; 

 
} 
 
.menu ul { 
    height: 100vh; 
    overflow-y: scroll; 
} 
 
.menu ul li:hover { 
    background: rgb(28, 51, 255); 
    
} 
 
.menu ul li a { 
    color: #ffffff; 
    color: rgba(255, 255, 255, 0.85); 
    text-decoration: none; 
    padding: 15px 10px; 
    display: block; 
    border-bottom: 1px dotted rgba(255, 255, 255, 0.05); 
    font-size: 17px; 
} 
.menu ul li{ 
    margin-right: 5px; 
} 
.bi{ 
    font-size: 30px; 
    margin-left: 20px; 
}
