{% extends 'base.html' %}
{% load static %}
{% block TITLE %}
<title>انبار - داشبورد</title>
{% endblock %}
{% block CSS %}
<link rel="stylesheet" href="{% static 'assets/css/dashboard/dashboard.css' %}">
{% endblock %}
{% block CONTENT %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3">{% if user.is_authenticated %}{% include 'utils/menu.html' %}{% endif %}

        </div>
        <div class="col-9">

            <div class="bodyx">
                <!-- ----منو بار---- -->
                <div>
                    <div class="row">
                        <div class="menubar">
                            <div class="row">

                                <div class="col-3 dirrr"> <a class="navbar-brand wttc col-3">سلام {{ user.first_name }}
                                        {{ user.last_name }}</a>
                                </div>
                                <div class="col-9">
                                    <form class="d-flex" role="search">
                                        <input id="search_input" class="form-control me-2 rSearch"
                                            placeholder="جستوجو کنید" aria-label="Search" />
                                        <button id="search_product" class="btn btn-outline-success mSearch"
                                            type="submit"><i class="bi bi-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div><br><br><br>
                    <!-- -------------- -->
                    <div class="container-fluid searchResult">
                        <div class="row text-center">
                            <div class="col-3 mt-2 ">
                                <div class="bkbc wttc hvr-shutter-out-horizontal vigdiv"><a href="{% url 'products' %}">
                                        <i class="bi bi-folder-plus"></i>
                                        <h4>آرشیو انبار کالا</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="col-3 mt-2 ">
                                <div class="bkbc wttc hvr-shutter-out-horizontal vigdiv"><a
                                        href="{% url 'materials' %}">
                                        <i class="bi bi-card-checklist"></i>
                                        <h4>آرشیو مواد اولیه</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="col-3 mt-2 ">
                                <div class="bkbc wttc hvr-shutter-out-horizontal vigdiv"><a href="/orders">
                                        <i class="bi bi-folder-plus"></i>
                                        <h4>سفارشات سایت</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="col-3 mt-2 ">
                                <div class="bkbc wttc hvr-shutter-out-horizontal vigdiv"><a href="{% url 'accounts' %}">
                                        <i class="bi bi-person-rolodex"></i>
                                        <h4> وضعیت همکاران</h4>
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!-- ---------------------- -->

                </div>
            </div>
        </div>
    </div>


    {% block JS %}
    <script src="{% static 'assets/js/dashboard/dashboard.js' %}"></script>
    {% endblock %}
    {% endblock %}